[Unit]
Description=Blink LED
After=multi-user.target

[Service]
ExecStart=//home/sel/pratica07/blink.sh
#ExecStop=
user=SEL

[Install]
WantedBy=multi-user.target