[Unit]
Description=Tarefa
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/sel/pratica07/tarefa.py
#ExecStop=
user=SEL

[Install]
WantedBy=multi-user.target